.Radio:checked + span {
  @apply border-[#0F60FF] relative;
}

.Radio:checked + span::before {
  @apply bg-[#0F60FF] rounded-full;
  position: absolute;
  top: 3px;
  left: 3px;
  right: 3px;
  bottom: 3px;
  content: "";
}

.Radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
