.container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 25px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 30;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.25);
  z-index: 31;
  cursor: pointer;
  padding: 20px;
}

.content {
  box-sizing: border-box;
  border-radius: 8px;
  overflow: auto;
  background-color: #fff;
  z-index: 33;
  width: 100%;
}
